<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Document</title>
    
    <link rel="stylesheet" href="/css/styles.css">

     
</head>
<body>
    <header>
        
        <div class="top-header">
            <!-- imagen logo burger-menu -->
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <!-- imagen logo  -->
            <div class="logo">
                <img src="/img/Logo-Rikolinos.png" alt="">
            </div>

            <div class="container-user-carrito">
                <!--User-->
                <div class="user">
                    <i class="fas fa-user"></i>
                </div>

                <!-- carrito-->
                <div class="container-carrito-precio">
                    <div class="container-carrito">
                        <img src="/img/carrito-de-compras.png" alt="">
                    </div>
                    <div class="container-precio">
                        <p>$1000000<p>
                    </div>
                </div>
            </div>

        </div>

        <!-- lista de barra desplegable -->
        <nav class="desplegable">
            <div>
                <i class="fas fa-search"></i>
                <p>Buscar</p>
            </div>
            <ul>
                <li>Home</li>
                <li>Menu</li>
                <li>Nosotros</li>
                <li>Contactos</li>
            </ul>
        </nav>





        
    </header>

   


        <section>
         <div > <img src="" alt=""></div>
         <div > <img src="" alt=""></div>
         <div > <img src="/img/Pizza.jpeg" alt=""></div>


        </section>




        <!-- INICIO DE MAIN -->

    <main>
   
       
        <div class="slider">
			<ul>
				<li>
                    <img src="/img/muffins-01.jpg" alt="">
                </li>

                <li>
                    <img src="/img/muffins-02.jpg" alt="">
                </li>
                                  
                <li>
                    <img src="/img/muffins-03.jpg" alt="">
                </li>
                                  
                <li>
                    <img src="/img/parrilla.jpg" alt="">
                </li>

			</ul>
		</div>


<!-- Este hr es para hacer una linea de separacion-->
          <hr> 
          
          <h2>Especialidades</h2>
    <section class="conteiner-especialidades">    
      


            <div class="productos">
                    <h3>Pizza</h3>
                    <img src="/img/muffins-01.jpg" alt="">   
            </div>

            <div class="productos">
                    <h3>Parrilla</h3>
                    <img src="/img/muffins-02.jpg" alt="">
            </div>

            <div class="productos">
                    <h3>Postres</h3>
                    <img src="/img/muffins-03.jpg" alt="">   
            </div>

    </section>



    
      

    <hr>
    <section class="nosotros">
        <h2>Nosotros</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dolorum, quisquam voluptatibus cumque temporibus sit assumenda accusamus placeat ipsum sint?
        </p>
    </section>


    </main>






    <!-- Fin de Main -->





    <!-- INICIO DE FOOTER -->
   
      <hr>
  
    <footer>
        <div class="container-footer">
            <div class="logo-footer">
                <img src="/img/Logo-Rikolinos.png" alt="">
            </div>
            <p>
                Los Rikolinos tambien en las redes
            </p>

            <ul>
                <li><a href=""><img src="/img/facebook.png" alt=""></a></li>
                <li><a href=""><img src="/img/instagram.png" alt=""></a></li>
                <li><a href=""><img  src="/img/whatsapp.png" alt=""></a></li>
                <li><a href=""> <img src="/img/twitter.png" alt=""> </a></li>

            </ul>
            <p>Todos los derecho resevado. Los Rikolinos <i class="far fa-copyright"></i></p>
        </div>
    <footer>

</body>
</html>